h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12rem;
  text-align: right;
}

h2 {
  font-family: 'Monserrat', sans-serif;
}

h3 {
  font-family: 'Monserrat', sans-serif;
}

p{
  font-family: 'Monserrat', sans-serif;
}

#current {
  color: white;
}

.img {
  max-width: 100%;
}


.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  max-height: 24em;
}

#current-other {
  position: absolute;
  bottom: 5rem;
  transform: translateX(-50%);
  left: 13%;
  bottom: 20%;
  width: 100%;
  display: inline;
}

#current-temp {
  position: absolute;
  bottom: 5rem;
  transform: translateX(-50%);
  left: 47%;
  bottom: 40%;
  width: 100%;
  display: inline;
}
