html {
  font-family: 'Monserrat', sans-serif;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 11rem;
  text-align: right;
}

h2 {
  font-family: 'Monserrat', sans-serif;
}

h3 {
  font-family: 'Monserrat', sans-serif;
}

p{
  font-family: 'Monserrat', sans-serif;
}

#current {
  color: white;
}

.img {
  max-width: 100%;
}

.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  max-height: 24em;
}

#current-other {
  position: absolute;
  bottom: 5rem;
  transform: translateX(-50%);
  left: 13%;
  bottom: 20%;
  width: 100%;
  display: inline;
}

#current-temp {
  position: absolute;
  bottom: 5rem;
  transform: translateX(-50%);
  left: 47%;
  bottom: 40%;
  width: 100%;
  display: inline;
}

.large {
  display: none;
}

.small {
  width: 100%;
}

.card {
  text-align: center;
  background-color: #f8ffff;
  text-decoration: none;
}

.card2 {
  text-align: center;
  background-color:#e4f0f4;
  text-decoration: none;
}

.buttonright {
  position: absolute;
  right: 3%;
  bottom: 45%;
  width: 3%;
}

.buttonleft {
  position: absolute;
  left: 3%;
  bottom: 45%;
  width: 3%;
}

.left {
  position: left;
  padding-left: 3em;
  font-size: .8rem;
}

.right {
  position: right;
  padding-right: 3em;
  font-size: .8rem;
}

.align {
  text-align: left;
}


a {
  color: #000;
  text-decoration: none;
}

.weektemp {
  text-align: right;
  color: red;
  float: right;
  font-size: 4rem;
  padding-top: .5rem;
  font-family: 'Barlow Condensed', sans-serif;
}


@media only screen and (min-width:38em) {

}

@media only screen and (min-width:60em) {

  .small {
    display: none;
    width: 100%;
  }

  .large {
    display: grid;
  }

  #weekly {
    overflow-y: auto;
  }

  .weather {
    max-height: 100vh;
  }

  .city {
    font-size: 4em;
    padding-left: 0.5em;
  }

  .cityl {
    font-size: 4em;
    padding-left: 2.5em;
  }

  .cityo {
    font-size: 4em;
    padding-left: 2em;
  }

  .bottom {
    background-color: #e9534e;
    padding-top:1em;
    text-align: center;
  }

}
